@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-image: url(./assets/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    gap: 3.2rem;
}

nav {
    padding: 4rem 0 4rem 7.2rem;
}

ul li a {
    text-decoration: none;
    color: #C4C4CC;
    line-height: 2.2rem;
    font-size: 2.1rem;
    font-weight: 400;
}

ul li a:hover {
    color: #fff;
    font-weight: 700;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 1.2rem 3.2rem 1.2rem 3.2rem;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #fff;
    width: fit-content;
}

button:hover {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: .5rem;
    color: #02799D;
    cursor: pointer;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 6rem;
    color: #e1e1e6;
}

#app {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 160%;
    color: #e1e1e6;
    margin-top: 1.6rem;
}

.container2 {
    margin-top: 6.3rem;
    margin-left: 10.2rem;

}

.content2 {
    width: 64.8rem;
}